Repository AojdevStudio/dental-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-imports, pytest

.pre-commit-config.yaml:

# Pre-commit hooks for code quality enforcement
repos:
  # Black code formatting
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=88]
        files: '\.py$'
        exclude: '^(\.venv/|\.claude/|logs/).*'

  # Ruff linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: '\.py$'
        exclude: '^(\.venv/|\.claude/|logs/).*'

  # MyPy type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --disallow-untyped-defs]
        additional_dependencies: [pandas-stubs, types-requests]
        files: '^(backend/|tests/).*\.py$'
        exclude: '^(\.venv/|\.claude/|logs/).*'

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(\.venv/|\.claude/|logs/).*'
      - id: end-of-file-fixer
        exclude: '^(\.venv/|\.claude/|logs/).*'
      - id: check-yaml
        exclude: '^(\.venv/|\.claude/|logs/).*'
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: debug-statements
        exclude: '^(\.venv/|\.claude/|logs/).*'

  # Import validation hook
  - repo: local
    hooks:
      - id: validate-imports
        name: Validate Python Imports
        entry: python3 scripts/validate-imports.py
        language: system
        files: '\.py$'
        pass_filenames: false

  # Pytest testing - now automatic
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        files: '^(apps/backend/|apps/frontend/|tests/).*\.py$'
        pass_filenames: false
        args: [--maxfail=1, -x]

# Configuration
default_stages: [pre-commit]
fail_fast: true

# Exclude patterns
exclude: |
  (?x)(
      /\.venv/|
      /\.claude/|
      /logs/|
      /\.git/|
      /\.pytest_cache/|
      /\.ruff_cache/|
      /__pycache__/|
      \.pyc$
  )

🏷️ feat: add comprehensive TypedDict definitions for strict typing
  apps/backend/chart_data.py
  apps/backend/data_providers.py
  apps/backend/historical_data.py
  apps/backend/metrics.py
  apps/backend/types.py
  specs/typeddicts.md
Due: validate-imports, pytest

🔧 chore: enhance verification script and add safe trash to pre-tool hook
  .claude/hooks/pre_tool_use.py
  .code/verification/verify_fix.py
Due: validate-imports

📝 docs: add TypedDict guidelines and remove obsolete BMAD content
  AGENTS.md
  CLAUDE.md
Due: none

✅ test: refactor tests and add plotly-stubs for type safety
  .gitignore
  pyproject.toml
  tests/test_advanced_charts.py
  tests/test_chart_integration.py
  tests/test_historical_data.py
  tests/test_plotly_charts.py
Due: validate-imports, pytest

🧹 chore: remove obsolete test files and specs after TypedDict refactoring
  demo_historical_data.py
  specs/fix-recurring-import-errors-prevention-plan.md
  specs/multi-sheet-provider-implementation.md
  specs/serena-enhanced-claude-template.md
  test_calculations.py
  test_column_validation.py
  test_connection.py
  test_import_fix.py
  test_operational_days.py
  test_sprint_changes.py
  uv.lock
Due: validate-imports

♻️ refactor: integrate TypedDict in frontend chart modules
  apps/frontend/app.py
  apps/frontend/chart_base.py
  apps/frontend/chart_kpis.py
  apps/frontend/chart_production.py
  apps/frontend/chart_utils.py
Due: validate-imports, pytest

🔧 chore: ignore .mcp.json local MCP configuration file
  .gitignore
Due: none

📝 Story 3.0: Backend Decoupling Phase 0 - Draft complete
  .serena/memories/code_style_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  AGENTS.md
  docs/architecture/backend-architecture.md
  docs/architecture/backend/code-quality-standards.md
  docs/architecture/backend/core-components.md
  docs/architecture/backend/future-extensibility.md
  docs/architecture/backend/module-dependencies.md
  docs/architecture/backend/system-architecture-overview.md
  docs/architecture/data/google-sheets-structure.md
  docs/architecture/fullstack-architecture.md
  docs/architecture/fullstack/data-flow-architecture.md
  docs/architecture/fullstack/system-architecture-overview.md
  docs/architecture/fullstack/testing-architecture.md
  docs/architecture/source-tree.md
  docs/checklists/epic-2-developer-checklist.md
  docs/checklists/technical-implementation-checklist.md
  docs/dan-1.md
  docs/guides/developer-workflow-guide.md
  docs/guides/print-backend-kpis-cli.md
  docs/prds/dental-analytics-prd.md
  docs/prds/epic-1.md
  docs/qa/gates/1.1-project-foundation-and-google-sheets-connection.yml
  docs/qa/gates/1.5-streamlit-dashboard-display.yml
  docs/qa/gates/1.6-testing-framework.yml
  docs/requirements/technical-assumptions.md
  docs/stories/story-1.1.md
  docs/stories/story-1.2.md
  docs/stories/story-1.3.md
  docs/stories/story-1.4.md
  docs/stories/story-1.5.md
  docs/stories/story-1.6-testing-framework.md
  docs/stories/story-2.0.md
  docs/stories/story-2.1.md
  docs/stories/story-3.0-backend-decoupling-phase-0.md
  docs/validation/quality-automation-implementation.md
  docs/validation/quality-strategy.md
  planning/multi-sheet-reader.md
  specs/spec.md
Due: none

🔧 chore: update dependencies and initialize core packages
  config/business_rules/calendar.yml
  config/business_rules/goals.yml
  core/__init__.py
  core/business_rules/__init__.py
  core/calculators/__init__.py
  core/models/__init__.py
  core/models/exceptions.py
  core/models/kpi_models.py
  core/transformers/__init__.py
  docs/stories/story-3.0-backend-decoupling-phase-0.md
  pyproject.toml
  services/__init__.py
  uv.lock
Due: validate-imports

✨ feat: implement BusinessCalendar for location-specific scheduling
  apps/backend/data_sources.py
  core/business_rules/calendar.py
  docs/stories/story-3.0-backend-decoupling-phase-0.md
  tests/unit/business_rules/test_calendar.py
Due: validate-imports, pytest

✨ feat: implement pure KPI calculator functions and standardized result model
  core/calculators/kpi_calculator.py
  core/models/kpi_models.py
  docs/stories/story-3.0-backend-decoupling-phase-0.md
  tests/unit/calculators/test_kpi_calculator.py
Due: validate-imports, pytest

✨ feat: implement 5-layer architecture with pure business logic
  .claude/hooks/pre_tool_use.py
  AGENTS.md
  CLAUDE.md
  apps/backend/chart_data.py
  apps/backend/historical_data.py
  apps/backend/metrics.py
  apps/frontend/app.py
  apps/frontend/chart_base.py
  config/business_rules/goals.yml
  core/business_rules/validation_rules.py
  core/transformers/sheets_transformer.py
  docs/architecture/backend/testing-strategy.md
  docs/architecture/fullstack-architecture.md
  docs/stories/story-3.0-backend-decoupling-phase-0.md
  scripts/validate-imports.py
  services/kpi_service.py
  tests/integration/test_kpi_service.py
  tests/test_currency_parsing.py
  tests/test_gdrive_validation.py
  tests/test_imports.py
  tests/test_location_switching.py
  tests/test_metrics.py
  tests/unit/business_rules/test_validation_rules.py
  tests/unit/transformers/test_sheets_transformer.py
Due: validate-imports, pytest

🔧 chore: update review configuration to exclude additional directories
  .coderabbit.yaml
  docs/stories/story-3.0-backend-decoupling-phase-0.md
Due: none

📚 docs: add backend migration roadmap for Phases 1-3
  docs/roadmap/backend-migration-roadmap.md
Due: none

test(chart_data): add comprehensive tests for chart data processing functions
  tests/test_chart_data.py
Due: validate-imports, pytest

fix: correct import order in test_chart_data.py to comply with PEP 8
  tests/test_chart_data.py
Due: validate-imports, pytest

✨ feat: add Pydantic chart and config models for Phase 1
  core/models/chart_models.py
  core/models/config_models.py
Due: validate-imports

✅ test: add comprehensive Pydantic model tests
  .claude/hooks/pre_tool_use.py
  docs/qa/gates/3.1-pydantic-models-setup.yml
  docs/roadmap/backend-migration-roadmap.md
  docs/roadmap/phase-1-implementation-plan.md
  docs/stories/story-3.1-pydantic-models-setup.md
  docs/stories/story-3.2-migrate-chart-config-code.md
  docs/stories/story-3.3-testing-cleanup-documentation.md
  specs/phase-1-typeddict-elimination.md
  tests/unit/models/__init__.py
  tests/unit/models/test_chart_models.py
  tests/unit/models/test_config_models.py
Due: validate-imports, pytest

chore: add type annotation helper script for test methods
  scripts/add_type_annotations.py
Due: validate-imports

🐛 fix(charts): resolve BaseModel/dict AttributeError in chart creation
  apps/frontend/chart_kpis.py
  docs/stories/story-3.21-eliminate-dict-containers.md
  tests/test_chart_integration.py
Due: validate-imports, pytest

fix(tests): resolve PR #20 breaking changes in test files
  planning/DEVELOPMENT_LOG.md
  tests/test_advanced_charts.py
  tests/test_plotly_charts.py
Due: validate-imports, pytest

feat(backend): complete Phase 1 Pydantic migration implementation
  DEVELOPMENT_LOG.md
  apps/backend/chart_data.py
  apps/frontend/app.py
  core/models/chart_models.py
  docs/stories/story-3.21-eliminate-dict-containers.md
  docs/stories/story-3.3-testing-cleanup-documentation.md
  tests/integration/test_historical_data_flow.py
  tests/test_chart_data.py
  tests/test_chart_integration.py
Due: validate-imports, pytest

docs(story-3.21): mark story as completed with comprehensive QA audit
  docs/stories/story-3.21-eliminate-dict-containers.md
Due: none

docs(story-3.21): mark story as completed with comprehensive QA audit (#21)
  docs/stories/story-3.21-eliminate-dict-containers.md
Due: none

✅ feat(backend): Complete Phase 1 - TypedDict elimination (Story 3.3)
  .claude/settings.json
  apps/backend/types.py
  docs/phase-1-completion-summary.md
  docs/stories/story-3.3-testing-cleanup-documentation.md
  docs/story-context-3.3.3.xml
  docs/validation-report-story-3.3-20251013.md
  tests/test_currency_parsing.phase3.skip
  tests/test_gdrive_validation.phase3.skip
  tests/test_historical_metrics.phase3.skip
  tests/test_imports.py
  tests/test_location_switching.phase3.skip
  tests/test_metrics.py
  tests/test_plotly_charts.py
Due: validate-imports, pytest

✅ docs(qa): Add quality gate assessment for Story 3.3
  docs/quality-gates/gate-story-3.3.yaml
  docs/stories/story-3.3-testing-cleanup-documentation.md
  docs/story-3.4-readiness-checklist.md
Due: none

✅ Phase 1 Complete: TypedDict Elimination (Story 3.3) (#22)
  .claude/settings.json
  apps/backend/types.py
  docs/phase-1-completion-summary.md
  docs/quality-gates/gate-story-3.3.yaml
  docs/stories/story-3.3-testing-cleanup-documentation.md
  docs/story-3.4-readiness-checklist.md
  docs/story-context-3.3.3.xml
  docs/validation-report-story-3.3-20251013.md
  tests/test_currency_parsing.phase3.skip
  tests/test_gdrive_validation.phase3.skip
  tests/test_historical_metrics.phase3.skip
  tests/test_imports.py
  tests/test_location_switching.phase3.skip
  tests/test_metrics.py
  tests/test_plotly_charts.py
Due: validate-imports, pytest

fix: update chart builders to consume TimeSeriesData.time_series
  apps/frontend/chart_base.py
  apps/frontend/chart_kpis.py
  docs/stories/story-3.3.1-fix-chart-data-regression.md
  tests/test_plotly_charts.py
Due: validate-imports, pytest

docs: add comprehensive QA gate report for Story 3.3.1
  docs/quality-gates/gate-story-3.3.1.yaml
Due: none

Story 3.3.1: Fix Chart Data Regression After Pydantic Migration (#23)
  apps/frontend/chart_base.py
  apps/frontend/chart_kpis.py
  docs/quality-gates/gate-story-3.3.1.yaml
  docs/stories/story-3.3.1-fix-chart-data-regression.md
  tests/test_plotly_charts.py
Due: validate-imports, pytest

feat(frontend): migrate chart functions to Pydantic TimeSeriesData models (Story 3.4)
  apps/frontend/chart_production.py
  apps/frontend/chart_utils.py
  docs/stories/story-3.4-frontend-migration.md
Due: validate-imports, pytest

docs(story-3.4): update validation summary and import ordering
  apps/frontend/app.py
  docs/story-3.4-validation-summary.md
Due: validate-imports, pytest

docs(AC-17): update CLAUDE.md with Phase 1 COMPLETE status
  CLAUDE.md
Due: none

docs(story-3.4): mark AC 17-18 complete in story file
  docs/stories/story-3.4-frontend-migration.md
Due: none

docs(story-3.4): add PR #24 link to story completion tasks
  docs/stories/story-3.4-frontend-migration.md
Due: none

docs(story-3.4): add validation report from Product Manager review
  docs/stories/validation-report-20251014-124526.md
Due: none

fix(chart_production): use statistics.total_points instead of data_points
  apps/frontend/chart_production.py
Due: validate-imports, pytest
