Repository AojdevStudio/dental-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-imports, pytest

.pre-commit-config.yaml:

# Pre-commit hooks for code quality enforcement
repos:
  # Black code formatting
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=88]
        files: '\.py$'
        exclude: '^(\.venv/|\.claude/|logs/).*'

  # Ruff linting and import sorting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: '\.py$'
        exclude: '^(\.venv/|\.claude/|logs/).*'

  # MyPy type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --disallow-untyped-defs]
        additional_dependencies: [pandas-stubs, types-requests]
        files: '^(backend/|tests/).*\.py$'
        exclude: '^(\.venv/|\.claude/|logs/).*'

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(\.venv/|\.claude/|logs/).*'
      - id: end-of-file-fixer
        exclude: '^(\.venv/|\.claude/|logs/).*'
      - id: check-yaml
        exclude: '^(\.venv/|\.claude/|logs/).*'
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: debug-statements
        exclude: '^(\.venv/|\.claude/|logs/).*'

  # Import validation hook
  - repo: local
    hooks:
      - id: validate-imports
        name: Validate Python Imports
        entry: python3 scripts/validate-imports.py
        language: system
        files: '\.py$'
        pass_filenames: false

  # Pytest testing - now automatic
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        files: '^(apps/backend/|apps/frontend/|tests/).*\.py$'
        pass_filenames: false
        args: [--maxfail=1, -x]

# Configuration
default_stages: [pre-commit]
fail_fast: true

# Exclude patterns
exclude: |
  (?x)(
      /\.venv/|
      /\.claude/|
      /logs/|
      /\.git/|
      /\.pytest_cache/|
      /\.ruff_cache/|
      /__pycache__/|
      \.pyc$
  )

Story 3.4: Frontend Migration to Pydantic Models (Phase 1 COMPLETE) (#24)
  CLAUDE.md
  apps/frontend/app.py
  apps/frontend/chart_production.py
  apps/frontend/chart_utils.py
  docs/stories/story-3.4-frontend-migration.md
  docs/stories/validation-report-20251014-124526.md
  docs/story-3.4-validation-summary.md
Due: validate-imports, pytest

📝 docs: add chart aggregation bug report and fix plan
  .pre-commit-config.yaml
  docs/chart-aggregation-fix.md
  scripts/print_kpis.py
Due: validate-imports

Story 3.5: Chart Timeframe Aggregation Fix ✅ PASS (Quality Gate 96/100)
  apps/backend/chart_data.py
  apps/frontend/app.py
  docs/quality-gates/gate-story-3.5.yaml
  docs/reference/chart-components-api.md
  docs/stories/story-3.5-chart-timeframe-aggregation.md
  docs/tech-spec-chart-aggregation-fix.md
  tests/unit/test_chart_aggregation.py
Due: validate-imports, pytest

docs: add story context file for Story 3.5
  docs/story-context-3.5.xml
Due: none

Story 3.5: Chart Timeframe Aggregation Fix ✅ PASS (QG 96/100) (#25)
  apps/backend/chart_data.py
  apps/frontend/app.py
  docs/quality-gates/gate-story-3.5.yaml
  docs/reference/chart-components-api.md
  docs/stories/story-3.5-chart-timeframe-aggregation.md
  docs/story-context-3.5.xml
  docs/tech-spec-chart-aggregation-fix.md
  tests/unit/test_chart_aggregation.py
Due: validate-imports, pytest

Add comprehensive tests for chart data processing functions (#18)
  tests/test_chart_data.py
Due: validate-imports, pytest
